.cabecera{
    border: 2px solid;
    width: 80%;
    height: 200px;
    background-color: red;
    margin: 10px auto 10px auto;
}
.main{
    border: 2px solid;
    width: 60%;
    height: 500px;
    background-color: blue;
}
.navlateral{
    height: 500px;
    width: 35%;
    border: 2px solid;
    background-color: green;
}
.pie{
    border: 2px solid;
    height: 200px;
    background-color: yellow;
    margin: 10px auto 10px auto;
    width: 80%;
}
.principal{
    width: 80%;
    height: 500px;
    margin: 10px auto 10px auto;
    justify-content: space-between;
    display: flex;
}

